@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
    background-color: rgb(250, 252, 204);
}

.mbtiLayout{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
}

.startLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 900px;
    height: 100%;
}
.startLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.startLogo img{
    margin-bottom: 50px;
}
.startBtn{
    width: 200px;
    font-size: 2rem;
    border-radius: 25px;
    font-family: 'Gamja Flower', sans-serif;
    color: rgb(231, 240, 63);
    background-color: black;
}

.questionLayout{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.mbtiTitle{

}

.questionList{
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    background-color: rgb(64, 64, 232);
}